/*

!/.Xresources.d

!/.config
/.config/*
!.config/alacritty
!.config/cmus
.config/cmus/*
!.config/cmus/rc
!.config/dunst
!.config/git
!.config/gtk-3.0
!.config/i3
!.config/kitty
!.config/picom
!.config/polybar
!.config/ranger
!.config/rofi
!.config/terminator

!/.fonts
/.fonts/*
!/.fonts/update-fonts.sh
!/.fonts/urls

!/.gnupg
/.gnupg/*
!/.gnupg/gpg-agent.conf
!/.gnupg/gpg.conf

!/.shrc.d

!/.ssh
/.ssh/*
!/.ssh/config
!/.ssh/genkey.sh

!/.vim
/.vim/*
!/.vim/after
!/.vim/colors
!/.vim/indent
!/.vim/spell
/.vim/spell/*.spl
!/.vim/.ycm_extra_conf.py

!/Admin
/Admin/*
!Admin/xrandr_external_monitor.sh
!Admin/xrandr_external_laptop.sh
!Admin/etc

!.Xresources
!.bashrc
!.gitignore
!.gnome-terminal-settings.sh
!.gtkrc-2.0
!.tmux.conf
!.vimrc
!.xinitrc
!.xprofile
!.zprofile
!.zshrc
!.README.md
