URxvt*urgentOnBell: false
URxvt*visualBell: false
URxvt.scrollBar: false
URxvt*background: #2F2F2F
URxvt*foreground: #F7F7F7

URxvt*transparent: true
URxvt*shading: 20

URxvt*color0: #2F2F2F
URxvt*color1: #FF2000
URxvt*color2: #C0FF00
URxvt*color3: #FFC801
URxvt*color4: #00B8FE
URxvt*color5: #D000FF
URxvt*color6: #30A8B8
URxvt*color7: #B0B0B0
URxvt*color8: #5D5D5D
URxvt*color9: #FF857B
URxvt*color10: #FFFF89
URxvt*color11: #FFE47C
URxvt*color12: #7EDCFF
URxvt*color13: #FF81FC
URxvt*color14: #72D4CD
URxvt*color15: #F7F7F7

URxvt*font: xft:DejaVu\ Sans\ Mono\ for\ Powerline:pixelsize=16:antialias=true:hinting=true,xft:DejaVu\ Sans\ Mono\ for\ Powerline:pixelsize=16:antialias=true:hinting=true
URxvt*boldFont: xft:DejaVu\ Sans\ Mono\ for\ Powerline:bold:pixelsize=16:antialias=true:hinting=true,xft:DejaVu\ Sans\ Mono\ for\ Powerline:bold:pixelsize=16:antialias=true:hinting=true
URxvt.letterSpace: -1

URxvt*keysym.Home: \033[1~
URxvt*keysym.End: \033[4~

URxvt*xftAutoHint: true

