# enable usb autosuspend
ACTION=="add", SUBSYSTEM=="usb", TEST=="power/control", ATTR{power/control}="auto"
# disable it for usb mouse
ACTION=="add", SUBSYSTEM=="usb", ATTR{idVendor}=="09da", ATTR{idProduct}=="9066", TEST=="power/control", ATTR{power/control}="on"
