[Unit]
Description=Disables GPE6F, an interrupt that is going crazy on thinkpad

[Service]
ExecStart=/usr/bin/bash -c 'echo "disable" > /sys/firmware/acpi/interrupts/gpe6F'

[Install]
WantedBy=multi-user.target
